* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* scroll-behavior: smooth; */
}

:root {
    --home-color: #177217;
    --about-color: #7A9F35;
    --more-color: #2D882D;
    --products-color: #882D60;
    --contact-color: #AA3939;
}

#menu_icon {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    color: white;
    font-size: 3rem;
    margin: 20px 40px;
    cursor: pointer;
}

nav, .navbar {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right: 100%;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    transition: 400ms;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.menu_open{
    top: 0;
    right: 0;
}

.navbar a {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem   ;
    text-decoration: none;
    color: white;
}

.navbar a:nth-of-type(1){
    /* you put the color instade of background-image, but I just put the background-image to show that you can do it like this. */
    /* background-color: var(--home-color); */
    background: url('https://images.unsplash.com/photo-1682685797769-481b48222adf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
    background-position: 0px -720px;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar a:nth-of-type(2){
    background-color: var(--products-color);
}
.navbar a:nth-of-type(3){
    background-color: var(--more-color);
}
.navbar a:nth-of-type(4){
    background-color: var(--about-color);
}
.navbar a:nth-of-type(5){
    background-color: var(--contact-color);
}

.main_link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-bottom: solid 2px white;
    margin: 20px 40px;
    display: inline-block;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
    font-size: 2rem;
}

#home {
    background: url('https://images.unsplash.com/photo-1682685797769-481b48222adf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

#about {
    background-color: var(--about-color);
}

#more{
    background-color: var(--more-color);
}

#contact {
    background-color: var(--contact-color);
}

#products {
    background-color: var(--products-color);
}

@media screen and (max-width: 800px) {
    html{
        font-size: 9px;
    }
    .main_link {
        margin: 10px 20px;
        display: inline-block;
    }
    #menu_icon {
        margin: 10px 20px;
    }
}